{% extends 'base.html.twig' %}

{% block title %}Mis a jour d'un compte{% endblock %}

{% block body %}
<section>
    <h1>Mise à jour du profil</h1>
    {{ form_start(form) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.telephone) }}
    {% for field in form %}
        {% if field.vars.name not in ['adresse', 'telephone'] %}
            {{ form_row(field, { 'attr': {'readonly': true} }) }}
        {% endif %}
    {% endfor %}
    <button class="btn btn-secondary" type="submit">Envoyer</button>
    {{ form_end(form) }}
</section>
{% endblock %}